.git
.gitignore
.dart_tool
.idea
.vscode
.DS_Store
**/.dart_tool
**/.flutter-plugins*
**/.packages
**/build
**/coverage
**/node_modules
**/.data
**/.fvm
**/key.properties
**/local.properties
**/*.jks
artifacts
data
docs/archive
*.log

